<div>
  <img src="https://img.pokemondb.net/artwork/<%= Pokemon.find(user.pokemon_id) %>.jpg" alt="" />
  <p><%= user_pokemon.nickname %></p>
  <label>Level:</label>
  <p><%= user_pokemon.level %></p>
  <label>Element:</label>
  <p><%= user_pokemon.element.name %></p>
</div>
