<div>
  <img src="#" />
  <h2>Nickname:</h2>
  <p><%= @user_pokemons.nickname %></p>
  <label>Level:</label>
  <p><%= @user_pokemons.level %></p>
  <label>Element:</label>
  <p><%= @user_pokemons.element.name %></p>
</div>
