<div class="pokemon_profile">
  <img src="#" />
  <p><label>Name:</label> <%= user.name %></p>
  <p><label>Rank:</label><% if user.trainer.present? %> <%= user.rank %></p>
  <p><label>Catchphrase:</label> <%= user.catchphrase %></p>
  <p><%= link_to "See Profile", user_path(@users) %></p>
 
  <%end%>
</div>
