<div>
  <img src="#" />
  <h2>Name:</h2>
  <p><%= link_to user.name, user_path(user) %></p>
  <% if user.leader %>
    <h5> Leader of <%=user.gym.name%> Gym </h5>
  <% else %>
    <label>Rank:</label>
    <% if user.trainer %>
      <p><%= user.trainer.rank %></p>
    <% end %>
  <% end %>
  <p><label>Catchphrase:</label></p>
  <p><%= user.catchphrase %></p>
</div>
