/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */
* {
  font-family: 'Oregano', cursive;
  font-size: 1.3em;
}
// Body Styles
body {
  padding-top: 70px;
  padding-bottom: 30px;
  background: url("http://www.walldevil.com/wallpapers/a34/pokemon-wallpapers-media-gallery-togepi-computer-fan-pok-quality-order-platinum.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1000px;
  margin: 0 auto;
  // text-align: center;
}

body .container {
  width: 70%;
}

// Navbar styles
.navbar {
  background: #a90b0b;
}

#custom_nav {
  color: white;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 2px rgba(255,255,255,.3);
  margin: 0 1px;
}
